.categoryName {
  color: #a9a9a9;
  font-size: 20px;
}
.categoryNameInput {
  margin-top: 20px; /*should match .categoryName font-size*/
  margin-bottom: 20px; /*should match .categoryName font-size*/
}

.categoryNameWrapper,
.deleteButton {
  display: inline-flex;
}
