.itemName , .itemValue, .editableWrapper {
    display: inline-flex;
}

.actionIcons {
    margin-left: 5px;
}

.itemActions {
    display: none;
}

.editableWrapper:hover .itemActions {
    display: inline-flex;
}